body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  padding: 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.content {
  max-width: 650px;
  margin: 15px auto 0;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

/* Tab */

.content .menu {
  width: inherit;
  border-bottom: 1px solid gainsboro;
}

.content .menu a {
  display: inline-block;
  width: 325px;
  text-align: center;
  padding: 10px 0;
}

.content .menu a.active {
  color: green;
  background: gainsboro;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
}

/* question */
.question {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.question .author {
  border-bottom: 1px solid gainsboro;
  background: #f0f0f0;
  margin: 0;
  padding: 10px 0 10px 20px;
  font-weight: bold;
  font-size: 1rem;
}

.question-box {
  display: flex;
  margin: 10px;
}

.question-box-left {
  width: 40%;
  text-align: center;
  border-right: 1px solid gainsboro;
}

.question-box-left img {
  width: 120px;
  margin: auto;
}

.question-box-right {
  width: 60%;
  padding-left: 20px;
}

.question-box-right .title {
  font-weight: bold;
  font-size: 1.3rem;
}

.question-box-right .question-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question-box-right .view-poll,
.button {
  width: 100%;
  background: none;
  padding: 5px 0;
  border: 1px solid green;
  color: green;
  border-radius: 5px;
  cursor: pointer;
}

.question-box-right .view-poll:hover,
.button:hover {
  background: green;
  color: #fff;
  transition: background 0.5s;
}

.question-box-right label {
  display: block;
  margin-bottom: 15px;
}

.answer-box {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 16px;
}

.answer-box.active {
  position: relative;
  border: 1px solid forestgreen;
  background: yellowgreen;
}

.answer-box.active .choice {
  position: absolute;
  width: 45px;
  height: 45px;
  right: -15px;
  top: -20px;
  border-radius: 45px;
  background: gold;
  text-align: center;
}

.answer-box.active .choice p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 3px 0;
  color: #fff;
}

.question-text {
  font-weight: 500;
}

.answer-box .total-bar {
  width: 100%;
  background: #aaa;
  border-radius: 5px;
  position: relative;
}

.percent {
  background: green;
  border-radius: 5px;
  color: white;
  text-align: right;
}

.vote-detail {
  margin: 1px 0 15px 0;
  text-align: center;
  font-weight: 500;
}

/* New Question */

.NewQuestion h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid gainsboro;
}

.NewQuestion-box {
  padding: 10px;
}

.NewQuestion-form input {
  width: 99%;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px 0 8px 5px;
}

.NewQuestion-form .or {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
  font-weight: bold;
}

.NewQuestion-form .or::before,
.NewQuestion-form .or::after {
  content: '';
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0 5px;
}

.button {
}

.button {
  margin-top: 15px;
  width: 100%;
  padding: 5px 0;
  background: green;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  color: green;
  background: none;
  border: 1px solid green;
  transition: background 0.5s;
}
